{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'accounts/css/change_password.css' %}">
<script src="{% static 'accounts/js/change_password.js' %}"></script>
{% endblock head %}

{% block content %}
<main class="password-container">
    <h1>비밀번호 변경</h1>
    <form class="password-form">
        <input type="password" placeholder="현재 비밀번호" name="oldpassword" />
        <input type="password" placeholder="새로운 비밀번호" name="newpassword" />

        <div class="button-group">
            <button type="submit" class="password-btn">비밀번호 변경</button>
        </div>
    </form>
</main>
{% endblock content %}
