{% load static %}       // base.js, css를 html에 로드할 수 있는 django 로직

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block content %}One Day Chat{% endblock %}</title>
    <!-- Axios CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="{% static "css/base.css" %}">

    {% block head %}{% endblock head %}

    <script src="{% static "js/base.js" %}"></script>

</head>
<body>
    <header>
        <nav>
            <a href="{% url 'home' %}" class="></a>
        </nav>
    </header>
    

    <main>
        {% block content%}
        
        {% endblock content%}
    </main>

</body>
</html>